<style>
  table {
    border-collapse: separate;
    border-spacing: 50px 0;
  }

  td {
    padding: 10px 0;
  }
</style>
<section>
  <h2>Rest Api Output</h2>
  <table align="center">
    <thead>
      <tr>        
        <th>Id</th>
        <th>Status</th>
        <th>GroupName</th>
        <th>Email</th>
        <th>Add to Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of lstUsers">        
        <td>{{user.UserId}}</td>
        <td>{{user.UserStatus}}</td>
        <td>{{user.GroupName}}</td>
        <td>{{user.Email}}</td>
        <td><a  href="javascript:void(0)" (click)="addToAdmin(user.UserId)">Add To Addmin</a></td>
      </tr>
    </tbody>
  </table>
</section>